<a href="https://colab.research.google.com/github/Sravya-mannava/Assignment-1/blob/main/Assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
Ages = [19,22,19, 24,20,25,26,24,25,24]
SortedList = sorted(Ages)

#1 sorting the  given list into new list and finding minimum & maximum ages
print("Sorted Ages : ",SortedList)
print("Minimum Age : ",SortedList[0])
print("Maximum Age :",SortedList[-1])

#2 Adding minimum and maximum ages  into the list
Minimum = SortedList[0]
Maximum = SortedList[-1]
SortedList.append(Minimum)
SortedList.append(Maximum)

#3 Finding median
Length = len(SortedList)
if Length % 2 == 0 :
    Median1 = SortedList[Length//2]
    Median2 = SortedList[Length//2 - 1]
    Median = (Median1+Median2)//2
    print("Median : ",Median)
else :
  median = SortedList[Length//2]
  print("Median : ",median)

#4 finding Average
Sum = 0
for i in range (0,Length):
  Sum = Sum + SortedList[i]
Average = Sum/Length
print("Average :",Average)

#5 finding  range
Range = Maximum - Minimum
print("Range :",Range)

Sorted Ages :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age :  19
Maximum Age : 26
Median :  24
Average : 22.75
Range : 7

In [ ]:
# Q2

#1 Creating Empty Dictionary 
dog = {}

#2 Adding name, color, breed, legs, age into dog Dictionary
dog = {"Name":None, "Color":None, "Breed":None, "Legs":None, "Age":None}

#3 Creating a student dictionary & adding FirstName,LastName,Gender,Age,MaritalStatus,Skill,Country,City & Address into Student dictionary
Student = {"FirstName":None,"LastName":None,"Gender":None,"Age":None,"MaritalStatus":None,"Skill":None, "Country":None, "City":None,"Address":None}

#4 Finding length of the Student
print("The length of Student: ",len(Student))

# Adding Key values to Student dictionary
Student = {
    "FirstName":'Sravya',
    "LastName":'Mannava', 
    "Gender":'Female', 
    "Age":'21',
    "MaritalStatus": 'Unmarried',
    "Skill":['Logical Thinking','Pressure Handling'], 
    "Country":'US', 
    "City":'OP', 
    "Address":'5000w 108th st'
}

#5 value of skills and check the data type
print("Type: ",type(Student['Skill']))
print("The Skills are: ",Student.get('Skill'))

#6 Modify the skills values by adding one or two skills
Student['Skill'].append("Time Management")
Student['Skill'].append("Anger Management")
print("The skills are  after appending: ",Student.get('Skill'))

#7 printing Student keys
print("The keys in the student  : ",Student.keys())

#8 printing Student values 
print("The values in the student : ",Student.values())

The length of Student:  9
Type:  <class 'list'>
The Skills are:  ['Logical Thinking', 'Pressure Handling']
The skills are  after appending:  ['Logical Thinking', 'Pressure Handling', 'Time Management', 'Anger Management']
The keys in student  :  dict_keys(['FirstName', 'LastName', 'Gender', 'Age', 'MaritalStatus', 'Skill', 'Country', 'City', 'Address'])
The values in student :  dict_values(['Sravya', 'Mannava', 'Female', '21', 'Unmarried', ['Logical Thinking', 'Pressure Handling', 'Time Management', 'Anger Management'], 'US', 'OP', '5000w 108th st'])

In [ ]:
# Q3
#1 Creating tuples 
Bro = ("Ravi", "Hari", "Likith")
Sis = ("Navya", "Priya")

#2 joining two tuples
Siblings = Bro+Sis
print("After adding brothers and sisters: ",Siblings)

#3 printing the number of siblings
print("The length of siblings :",len(Siblings))

#4 adding Father and mother to siblings and assigning it to siblings
Siblings = Siblings + ("Venkateswara Rao","Annapurna")
family_members = Siblings
print("After adding father and mother name :",family_members,)

After adding brothers and sisters:  ('Ravi', 'Hari', 'Likith', 'Navya', 'Priya')
The length of siblings : 5
After adding father and mother name : ('Ravi', 'Hari', 'Likith', 'Navya', 'Priya', 'Venkateswara Rao', 'Annapurna')

In [ ]:
# Q4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1 length of it_companies
Length = len(it_companies)
print("Length :",Length)
print("it_companies:", it_companies)

#2 Adding 'Twitter' to it_companies
it_companies.add('Twitter')
print("Ater adding, it_companies:",it_companies)

#3 Insert multiple companies to it_companies
extra_companies = ['Infosys','Wipro','HCL']
it_companies.update(extra_companies)
print("The updated it_companies:",it_companies)

#4 Remove one of the companies from the set it_companies
it_companies.remove('HCL')
print("Ater deleting a company(it_companies: ",it_companies)

#5 The difference between remove and discard
'''  The remove will show the error , when the element is not in set but discard will never show error'''

print("dicard usage",it_companies.discard('Tech Mahindra'))

#6 Joining A and B
c=B.union(A)

#7 Finding A intersection B
Intersection = A.intersection(B)
print("Intersection set: ",Intersection)

#8 Is A subset of B ?
print("A is subset of B: ",A.issubset(B))

#9 Are A and B disjoint sets ?
print("A and B disjoint sets: ",A.isdisjoint(B))

#10 Join A with B and B with A
print("Joining A with B:",A.union(B))
print("Joining B with A:",B.union(A))

#11 the symmetric difference between A and B
print("The symmentric difference is : ",A.symmetric_difference(B))

#12 Delete the sets
del A
del B

#13 Converting the ages to a set and comparing  the length of  list and  set
Set = set(age)
print("Converted to set",Set)
print("The length of list is :",len(age),"and set is :",len(Set))

Length : 7
it_companies: {'Apple', 'Oracle', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'IBM'}
Ater adding, it_companies: {'Apple', 'Oracle', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'Twitter', 'IBM'}
The updated it_companies: {'Apple', 'HCL', 'Oracle', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'Wipro', 'Twitter', 'Infosys', 'IBM'}
Ater deleting a company(it_companies:  {'Apple', 'Oracle', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'Wipro', 'Twitter', 'Infosys', 'IBM'}
dicard usage None
Intersection set:  {19, 20, 22, 24, 25, 26}
A is subset of B:  True
A and B disjoint sets:  False
Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}
The symmentric difference is :  {27, 28}
Converted to set {19, 22, 24, 25, 26}
The length of list is : 8 and set is : 5

In [ ]:
# Q5

import math
c = math.pi
radius = 30

#1 Finding area of circle
_area_of_circle_ = c * radius * radius
print("Area of circle:",_area_of_circle_)

#2 Finding Circumference
_circum_of_circle_= 2 * c * radius
print("Circumference of Circle:",_circum_of_circle_)

#taking input From User
NewRadius = float(input("Enter the radius value: "))
Area = c * NewRadius * NewRadius
print("Area of circle with new radius",Area)

Area of circle: 2827.4333882308138
Circumference of Circle: 188.49555921538757
Enter the radius value: 5
Area of circle with new radius 78.53981633974483

In [ ]:
# Q6

sentence = "I am a teacher and I love to inspire and teach people"

# splting the sentence with the help of split keyword
S = sentence.split(" ")
Split_set = set(S)
print("words in set: " ,Split_set)
print("Number of unique words in given sentence: ",len(Split_set))

words in set:  {'and', 'teacher', 'inspire', 'people', 'a', 'love', 'I', 'to', 'am', 'teach'}
Number of unique words in given sentence:  10

In [ ]:
# Q7

print("Name\t\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
# Q8

radius = 10
area = int(3.14 * radius ** 2)

# string formating
format_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  
print(format_area)

The area of circle with radius 10 is 314 meters square.

In [42]:
# Q9

# Taking the input form User
n = int(input('Enter the length:'))

# creating lists one for lbs
list = []
CL =[]
for i in range (0,n) :
    p =  float(input('Enter the value:'))
    list.append(p)
# converting lbs and kgs
for i in range (0,n):
      q = list[i] * 0.453592
      CL.append(round(q,2))
print("Conerted to kgs: ",CL)

Enter the length:3
Enter the value:2
Enter the value:3
Enter the value:4
Conerted to kgs:  [0.91, 1.36, 1.81]