<a href="https://colab.research.google.com/github/Sravya-mannava/Assignment-1/blob/main/Assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# Q1
ages = [19,22,19, 24,20,25,26,24,25,24]
ages.sort() #sort() is used to sort ages list

#1 sorting the  given list into new list and finding minimum & maximum ages
print("Sorted Ages : ",ages)
print("Minimum Age : ",ages[0]) # 0 indexing is used to find mimimum
print("Maximum Age :",ages[-1]) # negative indexing is used to find maximum

#2 Adding minimum and maximum ages  into the list
Minimum = ages[0]      
Maximum = ages[-1]
ages.append(Minimum)  #append is used to add element to list
ages.append(Maximum)

#3 Finding median
Length = len(ages)  #len() is used to find lenght of list
if Length % 2 == 0 :
    Median1 = ages[Length//2]
    Median2 = ages[Length//2 - 1]
    Median = (Median1+Median2)//2
    print("Median : ",Median)
else :
  median = ages[Length//2]
  print("Median : ",median)

#4 finding Average
Sum = 0
for i in range (0,Length): # loop is used to add all the elements inthe ageslist
  Sum = Sum + ages[i]
Average = Sum/Length
print("Average :",Average)

#5 finding  range
Range = Maximum - Minimum
print("Range :",Range)

Sorted Ages :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age :  19
Maximum Age : 26
Median :  24
Average : 22.75
Range : 7

In [42]:
# Q2

#1 Creating Empty Dictionary 
dog = {}

#2 Adding name, color, breed, legs, age into dog Dictionary
dog = {"Name":None, "Color":None, "Breed":None, "Legs":None, "Age":None}

#3 Creating a student dictionary & adding FirstName,LastName,Gender,Age,MaritalStatus,Skill,Country,City & Address into Student dictionary
Student = {"FirstName":None,"LastName":None,"Gender":None,"Age":None,"MaritalStatus":None,"Skill":None, "Country":None, "City":None,"Address":None}

#4 Finding length of the Student
print("The length of Student: ",len(Student))

# Adding Key values to Student dictionary
Student = {
    "FirstName":'Sravya',
    "LastName":'Mannava', 
    "Gender":'Female', 
    "Age":'21',
    "MaritalStatus": 'Unmarried',
    "Skill":['Logical Thinking','Pressure Handling'], 
    "Country":'US', 
    "City":'OP', 
    "Address":'5000w 108th st'
}

#5 value of skills and check the data type
print("Type: ",type(Student['Skill'])) # type() is used to check the type of skill
print("The Skills are: ",Student.get('Skill'))

#6 Modify the skills values by adding one or two skills
Student['Skill'].append("Time Management") #append() is used to add elements to list
Student['Skill'].append("Anger Management")
print("The skills are  after appending: ",Student.get('Skill'))

#7 printing Student keys
print("The keys in the student  : ",Student.keys()) #key() is used access key elements to dictionary

#8 printing Student values 
print("The values in the student : ",Student.values()) #values is used to access value elements to dictionary

The length of Student:  9
Type:  <class 'list'>
The Skills are:  ['Logical Thinking', 'Pressure Handling']
The skills are  after appending:  ['Logical Thinking', 'Pressure Handling', 'Time Management', 'Anger Management']
The keys in the student  :  dict_keys(['FirstName', 'LastName', 'Gender', 'Age', 'MaritalStatus', 'Skill', 'Country', 'City', 'Address'])
The values in the student :  dict_values(['Sravya', 'Mannava', 'Female', '21', 'Unmarried', ['Logical Thinking', 'Pressure Handling', 'Time Management', 'Anger Management'], 'US', 'OP', '5000w 108th st'])

In [43]:
# Q3
#1 Creating tuples 
Bro = ("Ravi", "Hari", "Likith")
Sis = ("Navya", "Priya")

#2 joining two tuples
Siblings = Bro+Sis # + is used for concatenation
print("After adding brothers and sisters: ",Siblings)

#3 printing the number of siblings
print("The length of siblings :",len(Siblings))

#4 adding Father and mother to siblings and assigning it to siblings
Siblings = Siblings + ("Venkateswara Rao","Annapurna") # + is used for concatenation
family = Siblings
print("After adding father and mother name :",family)

After adding brothers and sisters:  ('Ravi', 'Hari', 'Likith', 'Navya', 'Priya')
The length of siblings : 5
After adding father and mother name : ('Ravi', 'Hari', 'Likith', 'Navya', 'Priya', 'Venkateswara Rao', 'Annapurna')

In [44]:
# Q4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1 length of it_companies
Length = len(it_companies) #len() is used to get lenght of its_companies
print("Length :",Length)
print("it_companies:", it_companies)

#2 Adding 'Twitter' to it_companies
it_companies.add('Twitter') #add() is used to add new elements
print("Ater adding, it_companies:",it_companies)

#3 Insert multiple companies to it_companies
extra_companies = ['Infosys','Wipro','HCL']
it_companies.update(extra_companies) #upadate() is used to add multiple elements in its_companies
print("The updated it_companies:",it_companies)

#4 Remove one of the companies from the set it_companies
it_companies.remove('HCL') #remove() is used to remove elements in its_companies
print("Ater deleting a company(it_companies: ",it_companies)

#5 The difference between remove and discard
'''  The remove will show the error , when the element is not in set but discard will never show error'''

print("dicard usage",it_companies.discard('Tech Mahindra')) #discard() is used to discard

#6 Joining A and B
c=B.union(A) # union() is used to join 2 sets

#7 Finding A intersection B
Intersection = A.intersection(B) #intersection() is used to get common elements
print("Intersection set: ",Intersection)

#8 Is A subset of B ?
print("A is subset of B: ",A.issubset(B)) #issubset() is used check true or flase

#9 Are A and B disjoint sets ?
print("A and B disjoint sets: ",A.isdisjoint(B)) #isdisjoint() is used check true or flase

#10 Join A with B and B with A
print("Joining A with B:",A.union(B)) # union() is used to join 2 sets
print("Joining B with A:",B.union(A))

#11 the symmetric difference between A and B
print("The symmentric difference is : ",A.symmetric_difference(B)) #symmetric_difference() is used to get difference blw 2 sets

#12 Delete the sets
del A #del is used to delete the set
del B

#13 Converting the ages to a set and comparing  the length of  list and  set
Set = set(age) #set() used to covert any datatype to set datatype
print("Converted to set",Set)
print("The length of list is :",len(age),"and set is :",len(Set))

Length : 7
it_companies: {'Oracle', 'Apple', 'Google', 'Amazon', 'IBM', 'Facebook', 'Microsoft'}
Ater adding, it_companies: {'Twitter', 'Oracle', 'Apple', 'Google', 'Amazon', 'IBM', 'Facebook', 'Microsoft'}
The updated it_companies: {'Twitter', 'Infosys', 'HCL', 'Oracle', 'Apple', 'Google', 'Amazon', 'Wipro', 'IBM', 'Facebook', 'Microsoft'}
Ater deleting a company(it_companies:  {'Twitter', 'Infosys', 'Oracle', 'Apple', 'Google', 'Amazon', 'Wipro', 'IBM', 'Facebook', 'Microsoft'}
dicard usage None
Intersection set:  {19, 20, 22, 24, 25, 26}
A is subset of B:  True
A and B disjoint sets:  False
Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}
The symmentric difference is :  {27, 28}
Converted to set {19, 22, 24, 25, 26}
The length of list is : 8 and set is : 5

In [45]:
# Q5

import math
c = math.pi
radius = 30

#1 Finding area of circle
_area_of_circle_ = c * radius * radius #formula for area circle and * is used for multiply
print("Area of circle:",_area_of_circle_)

#2 Finding Circumference
_circum_of_circle_= 2 * c * radius #formula of circuferemce
print("Circumference of Circle:",_circum_of_circle_)

#taking input From User
NewRadius = float(input("Enter the radius value: ")) #taking input from user
Area = c * NewRadius * NewRadius #formula for area circle and * is used for multiply
print("Area of circle with new radius",Area)

Area of circle: 2827.4333882308138
Circumference of Circle: 188.49555921538757
Enter the radius value: 4
Area of circle with new radius 50.26548245743669

In [46]:
# Q6

sentence = "I am a teacher and I love to inspire and teach people"

# splting the sentence with the help of split keyword
S = sentence.split(" ") #split() is used to split the sentence
Split_set = set(S)
print("words in set: " ,Split_set)
print("Number of unique words in given sentence: ",len(Split_set))

words in set:  {'teacher', 'to', 'I', 'people', 'inspire', 'a', 'teach', 'and', 'love', 'am'}
Number of unique words in given sentence:  10

In [47]:
# Q7

print("Name\t\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")# /t is used for tabspace 
#/n is used to get into new line

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [49]:
# Q8

radius = 10
area = int(3.14 * radius ** 2) # int() is used to covert the data into integer

# string formating
#format() is used to format the output
format_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  
print(format_area)

The area of circle with radius 10 is 314 meters square.

In [ ]:
# Q9

# Taking the input form User
#input() is used to take input from user in string type
n = int(input('Enter the length:')) #int() is used to convert string to intger

# creating lists one for lbs
list = [] #[] is empty list
CL =[]
for i in range (0,n) :
    p =  float(input('Enter the value:')) #convert string to float
    list.append(p)
# converting lbs and kgs
for i in range (0,n):
      q = list[i] * 0.453592
      CL.append(round(q,2)) #round() is used to round the float value
print("Conerted to kgs: ",CL)